/*
Goldilocks Approach to Responsive Web Design Boilerplate

Author: Design by Front - @designbyfront
Version: 0.1
URL: http://www.goldilocksapproach.com
----------------------------------------------------------------------------------------

CONTENTS - GLOBAL.CSS
-----------------------------------------
1. RESET
2. ROOT
3. CORE TYPOGRAPHY
4. LINKS
5. GLOBAL LAYOUT & GLOBAL CUSTOM TYPOGRAPHY
6. CUSTOM LAYOUT & TYPOGRAPHY (Baby bear)
7. BROWSER AND NON-SEMANTIC STYLING

CONTENTS - LAYOUT.CSS
-----------------------------------------
8. CUSTOM LAYOUT & TYPOGRAPHY (Daddy bear)
9. CUSTOM LAYOUT & TYPOGRAPHY (Mummy bear)

*/


/* 1. RESET
----------------------------------------------------------------------------------------*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size:100%;
  font: inherit;
  vertical-align: baseline;
  }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
  }
  
  
/* 2. ROOT
----------------------------------------------------------------------------------------*/
html { 
  overflow-y: scroll;
  background: #FFF;
  }

/* /ht Ethan Marcotte - http://front.ie/l8rJaA */
img, embed, object, video { max-width: 100%; }
.ie6 img.full, .ie6 object.full, .ie6 embed, .ie6 video { width: 100%; }


/* 3. CORE TYPOGRAPHY
----------------------------------------------------------------------------------------*/
body {
  font-family: "PT Sans", Arial, Helvetica, "Lucida Grande", sans-serif;
  font-size: 1em;
  line-height: 1.618em;
  color: #666;
  }

h1, h2, h3, h4, h5, h6 {
  margin-bottom: 0.809em;
  line-height: 1em;
  }

p, ul, ol, dl, blockquote {
    font-size: 1em;
    line-height: 1.618em;
    margin-bottom: 1.618em; 
    max-width: 30em; /* Optimal width for long-form text */
  }
    
ul { list-style-type: disc; margin-left: 1.618em; }
ol { list-style-type: decimal; margin-left: 1.618em; }
nav ul, nav ol { list-style: none; margin: 0; padding: 0;}

b, strong { font-weight: bold; }
i, em { font-style: italic; }
small { font-size: 80%; }


/* 4. LINKS
----------------------------------------------------------------------------------------*/
a, a:visited { outline: none; color: #439BBD; text-decoration: underline; }  
a:hover { outline: none; text-decoration:none; }  
a:active, a:focus { outline: none; }


/* 5. GLOBAL LAYOUT & GLOBAL CUSTOM TYPOGRAPHY
----------------------------------------------------------------------------------------*/
html, body { background: url('../images/bg-main.png') repeat; }
#logo { background: url('../images/logo.png') no-repeat; width: 389px; height: 148px; display: block; text-indent: -9999px; float: left; margin-left: -1.25em; }
#slogan { margin: 0.1em 0; text-align: center; }
ul { max-width: 62em; list-style: none; }
p { font-size: 0.85em; line-height: 1.5em; margin-bottom: 1.5em; max-width: 55em; }
h4 { font-size: 0.85em; }

header { position: relative; } 
header h1 { margin-bottom: 0; }
#main-nav { float: left; list-style: none outside none; margin: 0.7em 0 0 3em; }
#main-nav li { line-height: 1.4em; }
#main-nav li.active a { color: #333; border-bottom: 0 none; }
#main-nav a { border-bottom: 1px solid; color: #777; display: inline-block; font-size: 0.9em; line-height: 1.15em; margin-bottom: 0.2em; text-decoration: none; }
#main-nav a:hover { color: #4d4d4d; }

.phone { margin: 1em 0 0; }
.phone p { font-size: 1.5em; line-height: 1.25em; margin: 0; position: relative; text-align: right; }
.phone p a { text-decoration: none; color: #666; } 
.phone .small { color: #999; display: inline-block; font-size: 0.6em; right: 8em; top: -0.2em; position: absolute; width: 5em; }
.phone .dashed { border-bottom: 1px dashed; color: #999; display: inline-block; float: right; font-size: 0.85em; line-height: 1.25em; text-decoration: none; }

.actions { list-style: none; width: 20em; margin: 1.4em 0 0; }
.actions li { }
.actions li a { display: block; float: right; width: 138px; height: 34px; font-size: 0.85em; line-height: 34px; color: #666; text-decoration: none; text-align: center; background: #e9e9e9; background: -moz-linear-gradient(top, #fff 0%, #e9e9e9 100%); background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fff), color-stop(100%,#e9e9e9)); background: -webkit-linear-gradient(top, #fff 0%,#e9e9e9 100%); background: -o-linear-gradient(top, #fff 0%,#e9e9e9 100%); background: -ms-linear-gradient(top, #fff 0%,#e9e9e9 100%); background: linear-gradient(top, #fff 0%,#e9e9e9 100%); -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px; -webkit-box-shadow: 0 1px 5px #adadad; -moz-box-shadow: 0 1px 5px #adadad; box-shadow: 0 1px 5px #adadad; }
.actions li a:hover { background: #e3e3e3; background: -moz-linear-gradient(top, #fff 0%, #d7d6d6 100%); background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fff), color-stop(100%,#d7d6d6)); background: -webkit-linear-gradient(top, #fff 0%,#d7d6d6 100%); background: -o-linear-gradient(top, #fff 0%,#d7d6d6 100%); background: -ms-linear-gradient(top, #fff 0%,#d7d6d6 100%); background: linear-gradient(top, #fff 0%,#d7d6d6 100%); -webkit-text-shadow: 0 1px 0 #f0f0f0; -moz-text-shadow: 0 1px 0 #f0f0f0; text-shadow: 0 1px 0 #f0f0f0; }
.actions li #action-shop { background: #f3893c; background: -moz-linear-gradient(top, #f3893c 0%, #dd782f 100%); background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f3893c), color-stop(100%,#dd782f)); background: -webkit-linear-gradient(top, #f3893c 0%,#dd782f 100%); background: -o-linear-gradient(top, #f3893c 0%,#dd782f 100%); background: -ms-linear-gradient(top, #f3893c 0%,#dd782f 100%); background: linear-gradient(top, #f3893c 0%,#dd782f 100%); color: #fff; -webkit-text-shadow: 0 1px 1px #666; -moz-text-shadow: 0 1px 1px #666; -webkit-text-shadow: 0 1px 1px #666; -moz-text-shadow: 0 1px 1px #666; text-shadow: 0 1px 1px #666; margin-left: 0.75em; }
.actions li #action-shop:hover { background: #ce6a21; background: -moz-linear-gradient(top, #f3893c 0%, #ce6a21 100%); background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f3893c), color-stop(100%,#ce6a21)); background: -webkit-linear-gradient(top, #f3893c 0%,#ce6a21 100%); background: -o-linear-gradient(top, #f3893c 0%,#ce6a21 100%); background: -ms-linear-gradient(top, #f3893c 0%,#ce6a21 100%); background: linear-gradient(top, #f3893c 0%,#ce6a21 100%); }

.slider-wrapper { position: relative; }
.slider { width: 960px; height: 410px; }
.slider img { -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; -webkit-box-shadow: 0 1px 5px #ccc; -moz-box-shadow: 0 1px 5px #ccc; box-shadow: 0 1px 5px #ccc; width: 960px !important; height: 410px !important; }
#left-arrow, #right-arrow { position: absolute; top: 11em; text-indent: -9999px; width: 28px; height: 40px; opacity: 0.5; -webkit-transition: opacity 0.5s ease-in-out; -moz-transition: opacity 0.5s ease-in-out; -o-transition: opacity 0.5s ease-in-out; }
#left-arrow:hover, #right-arrow:hover { opacity: 1; }
#left-arrow { background: url("../images/slider-control-left.png") 0 -43px no-repeat; left: 1.25em; z-index: 100; }
#right-arrow { background: url('../images/slider-control-right.png') 0 -43px no-repeat; right: 1.25em; z-index: 101; } 

#categories-nav { height: 128px; list-style: none outside none; margin: 0.5em 0 0 -0.4em; padding: 0; width: 62em; }
#categories-nav li{ background: url("../images/category-bg_.png") no-repeat; float: left; height: 62px; line-height: 62px; text-align: center; width: 243px; }
#categories-nav li a { color: #666; display: inline-block; font-size: 1em; font-weight: bold; text-decoration: none; text-shadow: 0 1px #fff; width: 100%; }
#categories-nav li a:hover { color: #444; }

#brands-nav { background: #fff; -webkit-box-shadow: 0px 1px 0px 0px #cfcfcf, 0px -1px 0px 0px #fff, 0px -2px 0px 0px #cfcfcf; -moz-box-shadow: 0px 1px 0px 0px #cfcfcf, 0px -1px 0px 0px #fff, 0px -2px 0px 0px #cfcfcf; box-shadow: 0px 1px 0px 0px #cfcfcf, 0px -1px 0px 0px #fff, 0px -2px 0px 0px #cfcfcf; height: 5.5em; margin: 0.5em auto 0.75em; padding-top: 0.75em; }
#brands-nav li { display: inline-block; line-height: 1.2em; margin-left: 3em; text-align: center; }
#brands-nav li img { border: 0 none; max-height: 3.75em; }
#brands-nav li a { color: #666; font-size: 0.85em; text-decoration: none; }
.underlined { display: inline-block; border-bottom: 1px solid; line-height: 1em; }  

#content-area { margin-top: 1em; }
#content-area ul { margin: 0; padding: 0; }
#content-area h2 { font-family: "Trebuchet MS"; font-size: 21px; font-weight: bold; margin: 0 0 0.5em 0.6em; -webkit-text-shadow: 0 1px 0 #fff; -moz-text-shadow: 0 1px 0 #fff; text-shadow: 0 1px 0 #fff; }
#content-area h3, #content-area h3 a { color: #F89146; font-size: 1em; font-weight: bold; line-height: 1.15em; text-decoration: none; }

.column { float: left; margin-right: 2.5em; width: 19em; }
.column:last-child { float: right; margin: 2.75em 0 0; width: 240px; }
.news-items li { background: rgba(255, 255, 255, 0.3); margin-bottom: 0.8em; overflow: hidden; padding: 0.75em 1.2em; position: relative; }
.news-items li .descr { margin: 0.6em 0 1.5em; }
.news-items li .descr img { margin: 0.75em 0 0; }
.news-items li .more { bottom: 1em; color: #c0c0c0; display: inline-block; font-size: 0.8em; line-height: 1.2em; position: absolute; text-decoration: none; }
.news-items li .more:hover { color: #999; }
.news-items li .date { bottom: 1em; color: #c0c0c0; font-family: "Verdana"; font-size: 0.65em; margin: 0; padding: 0; position: absolute; right: 1em; }

#subscribe { margin: 12px 0; }
#subscribe #email { background: #f7f7f7; border: none; color: #999; display: inline-block; font-family: trebuchet ms; font-size: 0.8em; height: 25px; margin: 0; padding-left: 10px; width: 190px; }
#subscribe #ok { background: #fff; border: none; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; -webkit-box-shadow: 0px 1px 2px 0px #777, 0px 1px 1px 1px #fff; -moz-box-shadow: 0px 1px 2px 0px #777, 0px 1px 1px 1px #fff; box-shadow: 0px 1px 2px 0px #777, 0px 1px 1px 1px #fff; cursor: pointer; display: inline-block; font-family: "Trebuchet MS"; font-size: 14px; margin: 0; padding: 3px 6px; vertical-align: top; }
/* #subscribe #ok:hover { box-shadow: 0px 1px 0px 0px #fff, 0px 1px 2px 0px #777, 0px 1px 1px 1px #fff; color: #ff6600; padding: 4px 6px 2px 6px; } */

footer { background: url('../images/bg-footer.png') repeat; height: 90px; }
#footer-nav { margin: 0; list-style: none; padding: 0.9em 0 0; float: left; }
#footer-nav li { line-height: 1.2em; }
#footer-nav li a { color: #999; font-size: 0.75em; text-decoration: underline; line-height: 1.2em; }
#footer-nav li a:hover { color: #666; }
footer .copyright { color: #C0C0C0; font-size: 0.8em; margin: 0.75em 0 0; text-align: right; }

/* ABOUT PAGE
----------------------------------------------------------------------------------------*/
#main.substrate { background: rgba(255, 255, 255, 0.3); padding: 2em 3.25em; margin-bottom: 1em; max-width: 46em; min-height: 30em; }
#main.substrate.large { max-width: 60em; }
#main.substrate.contacts { padding-right: 1.5em; }
.substrate h1 { font-size: 28px; font-weight: bold; margin: 0 0 0.7em 0; -webkit-text-shadow: 0 1px 0 #fff; -moz-text-shadow: 0px 1px 0 #fff; text-shadow: 0 1px 0 #fff; }
.substrate h2 { font-size: 23px; margin: 0 0 0.7em 0; -webkit-text-shadow: 0 1px 0 #fff; -moz-text-shadow: 0px 1px 0 #fff; text-shadow: 0 1px 0 #fff; letter-spacing: 0.25px; }
.substrate h3 { font-size: 18px;  }
.substrate ul li { color: #999;  font-size: 0.85em; line-height: 1.5em; margin-bottom: 0.5em; }
p.em40 { max-width: 40em; }
.substrate form input, .substrate form textarea { background: none repeat scroll 0 0 #F9F9F9; border: medium none; border-radius: 3px 3px 3px 3px; color: #999999; display: inline-block; font-family: trebuchet ms; font-size: 0.8em; height: 25px; margin: 0 0 0.5em; padding: 0.5em 0.75em; width: 22em; }
.substrate form textarea { height: 5em; }
.substrate form button { background: #fff; border: none; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; -webkit-box-shadow: 0px 1px 2px 0px #777, 0px 1px 1px 1px #fff; -moz-box-shadow: 0px 1px 2px 0px #777, 0px 1px 1px 1px #fff; box-shadow: 0px 1px 2px 0px #777, 0px 1px 1px 1px #fff; cursor: pointer; display: block; font-family: "Trebuchet MS"; font-size: 14px; margin: 0; padding: 3px 6px; vertical-align: top; color: #666; }
.show-map, .show-map:visited { color: #ccc; display: block;  font-size: 0.85em; font-weight: normal; text-decoration: none; }
.substrate address { background: rgba(255, 255, 255, 0.5);  font-size: 0.925em; font-weight: bold; line-height: 1.5em; padding: 0.75em 1em 0.5em; 
	-webkit-text-shadow: 0 1px 0 #fafafa; -moz-text-shadow: 0 1px 0 #fafafa; text-shadow: 0 1px 0 #fafafa; margin-bottom: 2em;
}
.contacts ul li .show-map { color: #c0c0c0; border-bottom: 1px dashed; display: inline-block; line-height: 1.1em; }
.contacts ul { margin: 0 0 0 1em; padding: 0; } 
.contacts ul li { color: #777; font-weight: bold; line-height: 1.25em; margin-bottom: 0.85em; }
.contacts .descr { color: #888; font-size: 0.8em; line-height: 1.5em; margin: 0.5em 0 1.5em; }
.contacts .warehouses { margin-bottom: 2.5em; }
.contacts h1 { margin-bottom: 1.4em; }
.contacts form { margin-bottom: 2em; }
.contacts .mailto { display: inline-block; text-decoration: none; color: #666; border-bottom: 1px solid; margin-left: 0.25em; line-height: 1.25em; }

/* BRANDS
----------------------------------------------------------------------------------------*/

#brands-list { margin: 1em 0 0; padding: 0; }
#brands-list li { margin-bottom: 3.5em; }
#brands-list li a { color: #f89146; font-size: 1em; text-decoration: none; display: inline-block; border-bottom: 1px solid; margin-right: 1em; line-height: 1em; }
#brands-list li p { color: #666; font-size: 1em; margin: 1.75em 0 1.25em; } 
.underlined { display: inline-block; border-bottom: 1px solid; line-height: 1em; }  

.categories-list { margin-bottom: 2em; margin-left: 0; margin-top: 0.4em; padding-left: 0; }
.substrate ul.categories-list li { color: #666; }
.substrate ul.categories-list li label { margin-left: 0.25em; position: relative; top: -2px; }
.substrate ul.categories-list li.disabled { color: #bdbdbd; }
.product-preview { display: inline-block; margin: 0 0.725em 1.75em 0; }
.product-preview:nth-child(4n) { margin-right: 0; }
.product-preview p { margin: 0 0 0.25em 0; }
.product-preview p.title { color: #333; margin: 0; }
.product-preview p.title a { color: #333; text-decoration: none; display: inline-block; max-width: 11.9em; }
.product-preview p.title a:hover { text-decoration: underline; }
.product-preview p.articul { }
.product-preview img { border: 1px solid #E5E5E5; width: 150px; height: auto; }
#main.substrate.categories { padding: 2em; } 
.categories h2 { border-bottom: 1px solid #D8D8D8; padding-bottom: 0.25em; } 
.categories h2 { border-bottom: 1px solid #D8D8D8; padding-bottom: 0.25em; }
.products-group { margin-bottom: 1.75em; }

.photos, .attributes { float: left; }
.photos { margin: 0 0 7em 0; width: 28em; }

.photos .main-photo { float: left; margin: 0 0.85em 0 0; }
	.photos .main-photo img { width: 298px; height: auto; }
.photos .pager { float: left; }
.photos .pager img { margin-bottom: 0.4em; width: 93px; height: 140px; }

.product-photos img { margin: 0 0.85em 0.4em 0; width: 93px; height: 140px; }
.product-photos img.main-photo { float: left; margin: 0 0.85em 0 0; width: 298px; height: auto; }

.attributes { width: 240px; }
.attributes .product-title { font-size: 1.5em; font-weight: normal; margin-bottom: 0; }
.attributes .articul { color: #999; display: inline-block; font-size: 0.75em; margin-bottom: 1.5em; }
.attributes .attr { margin-bottom: 0.5em; }
.attributes .attr strong { margin-right: 0.5em; }
.attributes .product-color { width: 12px; height: 12px; display: inline-block; margin: 0; line-height: 1em; border: 1px solid #e5e5e5; position: relative; top: 0.15em; }
.nav-links a { color: #666; text-decoration: none; border-bottom: 1px solid; display: inline-block; font-size: 0.85em; line-height: 1.1em; margin-bottom: 1.75em; }
.product-page .nav-links a { margin-bottom: 2.5em; }
.product-page .nav-links a.blockLink { border-bottom: 0 none; color: #BDBDBD; cursor: default; }

.brand-wrapper .brand-logo { float: left; font-size: 0.85em; line-height: 1.5em; margin-right: 1em; }
.brand-wrapper .catalog-list { float: left; margin: 0.7em 0 0 1.25em; width: 35.5em; }
.brand-wrapper .catalog-list li { display: inline-block; margin-right: 2em; }
.brand-wrapper .catalog-list li a { text-decoration: none; color: #666; border-bottom: 1px solid; line-height: 1em; font-size: 1.6em; }
.brand-wrapper .catalog-list li.active a { color: #f89146; border-bottom: 0 none; }
.catalog h1 { font-size: 1.85em; font-weight: normal; margin: 1.15em 0 0.6em; }
.catalog p { max-width: 56em; } 

.right { float: right; }
.left { float: left; }
a.hash { width: 1px !important; margin: 0 0 0 -1px !important; }

.overlay { background-color: rgba(0, 0, 0, 0.5); height: 100%; left: 0; position: fixed; top: 0; width: 100%; z-index: 105; display: none; }
.overlay p { background: #777; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; -webkit-box-shadow: 0 0 7px #333; -moz-box-shadow: 0 0 7px #333; box-shadow: 0 0 7px #333; color: #fff; left: 50%; margin: 0 0 0 -15em; padding: 1em 1.5em; position: absolute; top: 25%; width: 32em; text-align: center; }
.popup { z-index: 199; display: none; position: absolute; }
.popup.become-partner { right: 6.3em; top: 7.9em; }
.popup.get-call { right: 0; top: 4.4em; }
.popup-form { background: #FAFAFA; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; -webkit-box-shadow: 1px 3px 5px #555; -moz-box-shadow: 1px 3px 5px #555; box-shadow: 1px 3px 5px #555; color: #3E3E3E; font-size: 0.75em; padding: 1em; width: 13.4em; }
.popup-form fieldset { padding-bottom: 10px }
.popup-form label span { color: #70b611 }
.popup-form .validate label,
.popup-form .validate label span { font-weight: 700; color: #d10000; }
.popup-form input,
.popup-form textarea { display: block; width: 152px; }
.popup-form textarea { height: 51px; padding: 2px 3px; }
.popup-form .submit button { width: 162px; line-height: 24px; padding-bottom: 0.1em; display: block; color: #fff; text-align: center; border: 0 none; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; background: -moz-linear-gradient(top, #f3893c 0%, #dd782f 100%); background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f3893c), color-stop(100%,#dd782f)); background: -webkit-linear-gradient(top, #f3893c 0%,#dd782f 100%); background: -o-linear-gradient(top, #f3893c 0%,#dd782f 100%); background: -ms-linear-gradient(top, #f3893c 0%,#dd782f 100%); background: linear-gradient(top, #f3893c 0%,#dd782f 100%); color: #fff; -webkit-text-shadow: 0 1px 1px #666; -moz-text-shadow: 0 1px 1px #666; -webkit-text-shadow: 0 1px 1px #666; -moz-text-shadow: 0 1px 1px #666; text-shadow: 0 1px 1px #666; }
.popup-form .submit button:hover { background: -moz-linear-gradient(top, #f3893c 0%, #ce6a21 100%); background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f3893c), color-stop(100%,#ce6a21)); background: -webkit-linear-gradient(top, #f3893c 0%,#ce6a21 100%); background: -o-linear-gradient(top, #f3893c 0%,#ce6a21 100%); background: -ms-linear-gradient(top, #f3893c 0%,#ce6a21 100%); background: linear-gradient(top, #f3893c 0%,#ce6a21 100%); }
.popup-form .submit:active { position: relative; top: 1px; }
.popup-form .submitted { background: none }
.popup-form .submitted button { display: none }
.popup-form .submit.disabled button { cursor: default }
.popup-form em { display: none; text-align: center; }
.popup-form .submitted em { display: block; padding-top: 2px; }
.catalog-content img { max-width: 25em; margin-right: 0.5em; }
.catalog-content img.row,
.catalog-content img.row2 { max-width: 20em; max-height: 28em; }
.catalog-content img.row2 { max-width: 17.8em; }
.catalog-content img.row-single { max-width: 52em; }
.catalog-content p {  }
.catalog-content p.bright { text-align: center; margin: 1em 0 0em; font: 21px/30px 'trebuchet ms', Arial, Helvetica, sans-serif; color: #B75E52; }
.catalog-content h2 { text-transform: uppercase; font-size: 1.7em; line-height: 1.25em; margin: 1.2em 0 0.5em; } 


/* 6. CUSTOM LAYOUT & TYPOGRAPHY (Baby bear)
----------------------------------------------------------------------------------------*/
.container {
    padding: 0 0.809em;
    max-width: 30em;
    /*!!!!!*/	min-width: 60em;
    margin: auto;
  }

aside { width: 100%; }


/* 7. BROWSER AND NON-SEMANTIC STYLING
----------------------------------------------------------------------------------------*/
.cf:before, .cf:after { content: ""; display: block; }
.cf:after { clear: both; }
.ie6 .cf { zoom: 1 }